<IfModule mod_expires.c>

  ExpiresByType image/webp                "access plus 1 year"
  ExpiresByType video/webm                "access plus 1 year"
  ExpiresByType font/woff2                "access plus 1 year"

</IfModule>