<IfModule mod_expires.c>

    ExpiresActive on

    ExpiresByType image/webp                "access 1 year"
    ExpiresByType video/webm                "access 1 year"
    ExpiresByType font/woff2                "access 1 year"
    ExpiresByType image/x-icon              "access 1 year"

    ExpiresDefault                          "access 1 day"

</IfModule>