@secondary: #27a3a9;

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    position: relative;
    z-index: -2;
}

#construction {
    z-index: -1;
    position: absolute;
    top: 90px;
    left: 56px;
    margin-right: 56px;
    @media (min-width: 800px) and (min-height: 550px) {
        top: 200px;
        left: 150px;
        margin-right: 150px;
    }
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 25px;
    @media (min-width: 800px) and (min-height: 550px) {
        font-size: 48px;
    }
}

h2 {
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    transition: color 0.3s;
    color: @secondary;
}